@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Black.ttf");
  font-weight: 900;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}